@import "common";
@import "index-media";

// Хедер

.portfolio-header {
  font-family: $Comfortaa;
  min-height: 75px;
  height: auto;
  background-color: $main-color;
}

.portfolio-header-content {
  @extend .contentBox;
  width: 100%;
  font-family: $Comfortaa;
  min-height: 75px;
  height: auto;
  background-color: $main-color;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.portfolio-header-title {
  margin-left: 3px;
  min-width: 155px;
  color: rgb(255, 255, 255);

  cursor: default;

  &:hover {
    color: transparent;
    background-color: darken($main-color, 35%);
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 200%;
    background-position: -200%;
    transition: all ease-in-out 1s;
    cursor: pointer;
  }
}
.portfolio-header-title__mainText {
  font-size: x-large;
}
.portfolio-header-title__text {
  font-size: large;
}

.portfolio-nav__list {
  cursor: pointer;
  justify-content: start;
  @extend .flexRow;
}
.portfolio-nav__item {
  text-align: center;
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $main-color;
    border-radius: 10rem;
    z-index: -2;
  }
  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: darken($main-color, 15%);
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
  }
  &:hover {
    color: #fff;
    &:before {
      width: 100%;
    }
  }

  @include mx-(3px);
}
.portfolio-about {
  @extend .border;
}

.portfolio__links {
  @extend .flexRow;
}
.portfolio-links__about {
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding: 0.75rem 0.75rem;
  border-radius: 15rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  border: 0.1rem solid;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10rem;
    z-index: -2;
  }
  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: darken($main-color, 25%);
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
  }
  &:hover {
    color: #fff;
    &:before {
      width: 100%;
    }
  }

  @include mx-(3px);
}

// language switcher
.language-switcher {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.language-switcher-button {
  cursor: pointer;
  border: none;
  background-color: $main-color;
}
:disabled {
  background-color: $main-color;
  border: none;
}
.language-switcher-button__image {
  position: relative;
  width: 50px;
  height: 35px;
  @include mx-(3px);
}
.language-switcher-button__image--active {
  border: 1px solid;
}
.language-switcher-button__image--disabled {
  -webkit-filter: grayscale(100%);
}
// Основной контент

.main {
  align-items: center;
  justify-content: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.project {
  color: black;
  box-sizing: border-box;
  width: 400px;
  height: 300px;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  @extend .border;
  @extend .flexColl;
  justify-content: space-around;
  @include hover($main-hover);
  &:hover > .project__title {
    display: none;
  }
  &:hover > .project__description {
    display: flex;
    cursor: pointer;
  }
  &:hover > .project__image {
    -webkit-filter: blur(15px);
    cursor: pointer;
  }
}
.project__image {
  @extend .border;
  box-sizing: border-box;
  width: 400px;
  height: 300px;
}
.project__title {
  cursor: pointer;
  font-family: $Comfortaa;
  margin-top: 150px;
  padding: 1rem;
  border-radius: 5rem;
  @extend .border;
  background-color: $main-bg;
  position: absolute;
}
.project__description {
  margin-top: 100px;
  justify-content: center;
  text-align: center;
  width: 350px;
  height: 250px;
  display: none;
  font-family: $Comfortaa;
  padding: 1rem;

  position: absolute;
}
.about {
  font-family: $Comfortaa;
  align-items: center;
  justify-content: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.about-content-photo {
  min-width: 250px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid;
}
.photo {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  border: 1px solid;
}
.photo__description {
  margin: 5px;
  text-align: center;
  font-size: small;
}
.about-content {
  min-height: 350px;
  @extend .contentBox;
  @extend .border;
  margin: 8%;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.about__title {
  margin: 10px;
  font-weight: bolder;
  text-align: center;
  text-transform: uppercase;
  font-size: larger;
}
.about__text {
  margin-left: 10px;
  text-align: left;
  letter-spacing: 1px;
  margin-bottom: 10px;
  line-height: 20px;
}
.contacts {
  font-family: $Comfortaa;
  padding: 5px;
  background-color: $main-color;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
}
.contacts-content {
  @extend .contentBox;
  align-items: center;
  display: flex;
  justify-content: right;
  color: whitesmoke;
  width: 100%;
}
.contacts__item {
  width: 25px;
  height: 25px;
  border: 1px solid;
  padding: 2px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  @include mx-(7px);
  &:hover {
    background-color: darken($main-color, 15%);
  }
}
.contacts__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: whitesmoke;
  text-decoration: none;
}

.EA {
  @extend .border;
  background-color: $main-bg;
}
.EA-content {
  @extend .contentBox;
  @extend .border;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.EA-text {
  font-size: medium;
  font-family: $Comfortaa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text__title {
  margin: 10px;
  font-size: xx-large;
  font-weight: bolder;
}
.text__description {
  @include mx-(25px);
  max-width: 450px;
}

.EA-slides {
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-Stack {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text-Stack__title {
  margin: 10px;
  font-size: x-large;
  font-weight: bold;
}
.text-stack__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.text-links__title {
  margin: 10px;
  font-size: x-large;
  font-weight: bolder;
}
.text-links__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &a {
    color: black;
    text-decoration: dashed;
  }
}
.CSSgal {
  position: relative;
  overflow: hidden;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $slider-w;
  height: $slider-h;
}

.prevNext {
  font-family: $Comfortaa;
  font-weight: 900;
  font-size: x-large;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  top: 35%;
}
.prevNext__btn {
  @include mx-(3px);
  height: 60px;
  width: 60px;
  display: flex;
  opacity: 0.8;
  justify-content: center;
  align-items: center;
  background-color: $main-bg;
  @extend .border;
  border-radius: 100%;
  &:hover {
    opacity: 1;
    background-color: #fff;
  }
}

.bullets {
  font-family: $Comfortaa;
  font-weight: 900;
  font-size: large;
  display: flex;
  justify-content: center;

  position: absolute;
  z-index: 2;
  bottom: 0;
  padding: 10px 0;
  width: 100%;
  text-align: center;
}
.bullets__bullets {
  opacity: 0.8;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  @include mx-(5px);
  @extend .border;
  height: 45px;
  width: 45px;
  border-radius: 100%;
  background-color: $main-bg;
  &:hover {
    opacity: 1;
    background-color: #fff;
  }
}
.bullets__bullets--active {
  opacity: 1;
  background-color: #fff;
}
