.portfolio-nav {
  @include max_576 {
    display: none;
  }
}

.portfolio-links__about {
  @include _576 {
    display: none !important;
  }
}
.main {
  @include _576 {
    flex-direction: row !important;
  }
}
