@import url("https://fonts.googleapis.com/css2?family=Koulen&family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
::-webkit-scrollbar {
  display: none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #fcf6f5;
  height: 100vh;
}

.contentBox, .EA-content, .contacts-content, .about-content, .portfolio-header-content {
  max-width: 1280px;
  margin: auto;
}

.flexColl, .project {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flexRow, .portfolio__links, .portfolio-nav__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.border, .bullets__bullets, .prevNext__btn, .EA-content, .EA, .about-content, .project__title, .project__image, .project, .portfolio-about {
  border: 1px solid;
}

.shine {
  animation: animated-gradient 2s infinite alternate-reverse;
}
@keyframes animated-gradient {
  to {
    background-position: 200%;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.flip-enter-active {
  transition: all 0.9s ease;
}

.flip-leave-active {
  display: none;
}

.flip-enter-from,
.flip-leave-to {
  transform: rotateY(180deg);
  opacity: 0;
}

.bounce {
  animation: bounce-in 0.3s;
}

@keyframes bounce-in {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
.shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
.shine {
  animation: animated-gradient 2s infinite alternate-reverse;
}
@keyframes animated-gradient {
  to {
    background-position: 200%;
  }
}

@media (max-width: 992px) {
  .portfolio-nav {
    display: none;
  }
}

@media (min-width: 992px) {
  .portfolio-links__about {
    display: none !important;
  }
}

@media (min-width: 992px) {
  .main {
    flex-direction: row !important;
    height: 720px;
  }
}

@media (min-width: 992px) {
  .project {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (min-width: 992px) {
  .about-content-photo {
    display: flex !important;
  }
}

@media (min-width: 992px) {
  .EA {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 992px) {
  .EA-content {
    margin: 8% !important;
    flex-direction: row !important;
  }
}

@media (min-width: 768px) {
  .text__description {
    max-width: 650px !important;
  }
}

@media (min-width: 768px) {
  .slider__image {
    width: 650px !important;
    height: 450px !important;
  }
}
@media (min-width: 992px) {
  .slider__image {
    width: 550px !important;
    height: 550px !important;
  }
}

.portfolio-header {
  font-family: "Comfortaa", cursive;
  min-height: 75px;
  height: auto;
  background-color: #2f3c7e;
}

.portfolio-header-content {
  width: 100%;
  font-family: "Comfortaa", cursive;
  min-height: 75px;
  height: auto;
  background-color: #2f3c7e;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.portfolio-header-title {
  margin-left: 3px;
  min-width: 155px;
  color: rgb(255, 255, 255);
  cursor: default;
}
.portfolio-header-title:hover {
  color: transparent;
  background-color: black;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 200%;
  background-position: -200%;
  transition: all ease-in-out 1s;
  cursor: pointer;
}

.portfolio-header-title__mainText {
  font-size: x-large;
}

.portfolio-header-title__text {
  font-size: large;
}

.portfolio-nav__list {
  cursor: pointer;
  justify-content: start;
}

.portfolio-nav__item {
  text-align: center;
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin-left: 3px;
  margin-right: 3px;
}
.portfolio-nav__item:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2f3c7e;
  border-radius: 10rem;
  z-index: -2;
}
.portfolio-nav__item:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #1a2146;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
.portfolio-nav__item:hover {
  color: #fff;
}
.portfolio-nav__item:hover:before {
  width: 100%;
}

.portfolio-links__about {
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding: 0.75rem 0.75rem;
  border-radius: 15rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  border: 0.1rem solid;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin-left: 3px;
  margin-right: 3px;
}
.portfolio-links__about:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10rem;
  z-index: -2;
}
.portfolio-links__about:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #0c1021;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
.portfolio-links__about:hover {
  color: #fff;
}
.portfolio-links__about:hover:before {
  width: 100%;
}

.language-switcher {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.language-switcher-button {
  cursor: pointer;
  border: none;
  background-color: #2f3c7e;
}

:disabled {
  background-color: #2f3c7e;
  border: none;
}

.language-switcher-button__image {
  position: relative;
  width: 50px;
  height: 35px;
  margin-left: 3px;
  margin-right: 3px;
}

.language-switcher-button__image--active {
  border: 1px solid;
}

.language-switcher-button__image--disabled {
  -webkit-filter: grayscale(100%);
}

.main {
  align-items: center;
  justify-content: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.project {
  color: black;
  box-sizing: border-box;
  width: 400px;
  height: 300px;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: space-around;
}
.project:hover {
  background: rgba(230, 163, 163, 0.8078431373);
}
.project:hover > .project__title {
  display: none;
}
.project:hover > .project__description {
  display: flex;
  cursor: pointer;
}
.project:hover > .project__image {
  -webkit-filter: blur(15px);
  cursor: pointer;
}

.project__image {
  box-sizing: border-box;
  width: 400px;
  height: 300px;
}

.project__title {
  cursor: pointer;
  font-family: "Comfortaa", cursive;
  margin-top: 150px;
  padding: 1rem;
  border-radius: 5rem;
  background-color: #fcf6f5;
  position: absolute;
}

.project__description {
  margin-top: 100px;
  justify-content: center;
  text-align: center;
  width: 350px;
  height: 250px;
  display: none;
  font-family: "Comfortaa", cursive;
  padding: 1rem;
  position: absolute;
}

.about {
  font-family: "Comfortaa", cursive;
  align-items: center;
  justify-content: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.about-content-photo {
  min-width: 250px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid;
}

.photo {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  border: 1px solid;
}

.photo__description {
  margin: 5px;
  text-align: center;
  font-size: small;
}

.about-content {
  min-height: 350px;
  margin: 8%;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.about__title {
  margin: 10px;
  font-weight: bolder;
  text-align: center;
  text-transform: uppercase;
  font-size: larger;
}

.about__text {
  margin-left: 10px;
  text-align: left;
  letter-spacing: 1px;
  margin-bottom: 10px;
  line-height: 20px;
}

.contacts {
  font-family: "Comfortaa", cursive;
  padding: 5px;
  background-color: #2f3c7e;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
}

.contacts-content {
  align-items: center;
  display: flex;
  justify-content: right;
  color: whitesmoke;
  width: 100%;
}

.contacts__item {
  width: 25px;
  height: 25px;
  border: 1px solid;
  padding: 2px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  margin-left: 7px;
  margin-right: 7px;
}
.contacts__item:hover {
  background-color: #1a2146;
}

.contacts__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: whitesmoke;
  text-decoration: none;
}

.EA {
  background-color: #fcf6f5;
}

.EA-content {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.EA-text {
  font-size: medium;
  font-family: "Comfortaa", cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text__title {
  margin: 10px;
  font-size: xx-large;
  font-weight: bolder;
}

.text__description {
  margin-left: 25px;
  margin-right: 25px;
  max-width: 450px;
}

.EA-slides {
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-Stack {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-Stack__title {
  margin: 10px;
  font-size: x-large;
  font-weight: bold;
}

.text-stack__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text-links__title {
  margin: 10px;
  font-size: x-large;
  font-weight: bolder;
}

.text-links__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text-links__texta {
  color: black;
  -webkit-text-decoration: dashed;
          text-decoration: dashed;
}

.CSSgal {
  position: relative;
  overflow: hidden;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 450px;
}

.prevNext {
  font-family: "Comfortaa", cursive;
  font-weight: 900;
  font-size: x-large;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  top: 35%;
}

.prevNext__btn {
  margin-left: 3px;
  margin-right: 3px;
  height: 60px;
  width: 60px;
  display: flex;
  opacity: 0.8;
  justify-content: center;
  align-items: center;
  background-color: #fcf6f5;
  border-radius: 100%;
}
.prevNext__btn:hover {
  opacity: 1;
  background-color: #fff;
}

.bullets {
  font-family: "Comfortaa", cursive;
  font-weight: 900;
  font-size: large;
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 2;
  bottom: 0;
  padding: 10px 0;
  width: 100%;
  text-align: center;
}

.bullets__bullets {
  opacity: 0.8;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
  height: 45px;
  width: 45px;
  border-radius: 100%;
  background-color: #fcf6f5;
}
.bullets__bullets:hover {
  opacity: 1;
  background-color: #fff;
}

.bullets__bullets--active {
  opacity: 1;
  background-color: #fff;
}/*# sourceMappingURL=index.css.map */