@import url("https://fonts.googleapis.com/css2?family=Koulen&family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
::-webkit-scrollbar {
  display: none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  height: 100vh;
}

.contentBox {
  display: flex;
  max-width: 2048px;
  margin: auto;
  color: #ffffff;
}

.flexColl, .project {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flexRow, .portfolio__links, .portfolio-nav__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.border, .project__title, .project, .portfolio-about {
  border: 1px solid;
}

.shine {
  animation: animated-gradient 2s infinite alternate-reverse;
}
@keyframes animated-gradient {
  to {
    background-position: 200%;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.flip-enter-active {
  transition: all 0.9s ease;
}

.flip-leave-active {
  display: none;
}

.flip-enter-from,
.flip-leave-to {
  transform: rotateY(180deg);
  opacity: 0;
}

.bounce {
  animation: bounce-in 0.3s;
}

@keyframes bounce-in {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
.shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
.shine {
  animation: animated-gradient 2s infinite alternate-reverse;
}
@keyframes animated-gradient {
  to {
    background-position: 200%;
  }
}

@media (max-width: 576px) {
  .portfolio-nav {
    display: none;
  }
}

@media (min-width: 576px) {
  .portfolio-links__about {
    display: none !important;
  }
}

@media (min-width: 576px) {
  .main {
    flex-direction: row !important;
  }
}

.portfolio-header {
  font-family: "Comfortaa", cursive;
  height: 75px;
  background-color: #4580ee;
  display: flex;
  align-items: center;
  flex-direction: co;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.portfolio-header-title {
  margin-left: 3px;
  color: rgb(255, 255, 255);
  cursor: default;
}
.portfolio-header-title:hover {
  color: transparent;
  background-image: linear-gradient(to right, #000000, #000000, #000000, #000000, #000000);
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 200%;
  background-position: -200%;
  transition: all ease-in-out 1s;
  cursor: pointer;
}

.portfolio-header-title__mainText {
  font-size: x-large;
}

.portfolio-header-title__text {
  font-size: large;
}

.portfolio-nav {
  width: 80%;
}

.portfolio-nav__list {
  cursor: pointer;
  justify-content: start;
}

.portfolio-nav__item {
  text-align: center;
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin: 3px;
  margin-top: 0;
  margin-bottom: 0;
}
.portfolio-nav__item:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #355da8;
  border-radius: 10rem;
  z-index: -2;
}
.portfolio-nav__item:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #233d6e;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
.portfolio-nav__item:hover {
  color: #fff;
}
.portfolio-nav__item:hover:before {
  width: 100%;
}

.portfolio-links__about {
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin: 3px;
  margin-top: 0;
  margin-bottom: 0;
}
.portfolio-links__about:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #355da8;
  border-radius: 10rem;
  z-index: -2;
}
.portfolio-links__about:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #233d6e;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
.portfolio-links__about:hover {
  color: #fff;
}
.portfolio-links__about:hover:before {
  width: 100%;
}

.language-switcher {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.language-switcher-button {
  cursor: pointer;
  border: none;
  background-color: #4580ee;
}

:disabled {
  background-color: #4580ee;
  border: none;
}

.language-switcher-button__image {
  position: relative;
  width: 50px;
  height: 35px;
  margin: 3px;
  margin-top: 0;
  margin-bottom: 0;
}

.language-switcher-button__image--active {
  border: 1px solid;
}

.language-switcher-button__image--disabled {
  -webkit-filter: grayscale(100%);
}

.main {
  align-items: center;
  justify-content: center;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.project {
  box-sizing: border-box;
  width: 400px;
  height: 300px;
  align-items: center;
  margin: 20px;
  justify-content: space-around;
}
.project:hover {
  background: rgba(230, 163, 163, 0.8078431373);
}

.project__image {
  box-sizing: border-box;
  width: 400px;
  height: 300px;
}
.project__image:hover {
  -webkit-filter: blur(15px);
}

.project__title {
  background-color: #fff;
  position: absolute;
}/*# sourceMappingURL=index.css.map */