.main {
  @include _992 {
    flex-direction: row !important;
    height: 90vh;
  }
}
.project {
  @include _992 {
    @include mx-(20px);
  }
}
.about-content-photo {
  @include _992 {
    display: flex !important;
  }
}
.EA {
  @include _992 {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.EA-content {
  @include _992 {
    margin: 8% !important;
    flex-direction: row !important;
  }
}

.text__description {
  @include _768 {
    max-width: $slider-w-768 !important;
  }
}