.portfolio-nav {
  @include max_992 {
    display: none;
  }
}

.portfolio-links__about {
  @include _992 {
    display: none !important;
  }
}
.main {
  @include _992 {
    flex-direction: row !important;
    height: 720px;
  }
}
.project {
  @include _992 {
    @include mx-(20px);
  }
}
.about-content-photo {
  @include _992 {
    display: flex !important;
  }
}
