.portfolio-nav {
  @include max_992 {
    display: none;
  }
}

.portfolio-links__about {
  @include _992 {
    display: none !important;
  }
}
.main {
  @include _992 {
    flex-direction: row !important;
    height: 720px;
  }
}
.project {
  @include _992 {
    @include mx-(20px);
  }
}
.about-content-photo {
  @include _992 {
    display: flex !important;
  }
}
.EA {
  @include _992 {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.EA-content {
  @include _992 {
    margin: 8% !important;
    flex-direction: row !important;
  }
}

.text__description {
  @include _768 {
    max-width: $slider-w-768 !important;
  }
}
.slider__image {
  @include _768 {
    width: $slider-w-768 !important;
    height: $slider-h-768 !important;
  }
  @include _992 {
    width: 550px !important;
    height: 550px !important;
  }
}
