.contacts {
  font-family: $Comfortaa;
  padding: 5px;
  background-color: $main-color;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
}
.contacts-content {
  @extend .contentBox;
  align-items: center;
  display: flex;
  justify-content: right;
  color: whitesmoke;
  width: 100%;
}
.contacts__item {
  width: 25px;
  height: 25px;
  border: 1px solid;
  padding: 2px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  @include mx-(7px);
  &:hover {
    background-color: darken($main-color, 15%);
  }
}
.contacts__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: whitesmoke;
  text-decoration: none;
}
