@import "style-media";
// Хедер

.portfolio-header {
  font-family: $Comfortaa;
  min-height: 75px;
  height: auto;
  background-color: $main-color;
}

.portfolio-header-content {
  @extend .contentBox;
  width: 100%;
  font-family: $Comfortaa;
  min-height: 75px;
  height: auto;
  background-color: $main-color;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.portfolio-header-title {
  margin-left: 3px;
  min-width: 155px;
  color: rgb(255, 255, 255);

  cursor: default;

  &:hover {
    color: transparent;
    background-color: darken($main-color, 35%);
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 200%;
    background-position: -200%;
    transition: all ease-in-out 1s;
    cursor: pointer;
  }
}
.portfolio-header-title__mainText {
  font-size: x-large;
}
.portfolio-header-title__text {
  font-size: large;
}

.portfolio-nav__list {
  cursor: pointer;
  justify-content: start;
  @extend .flexRow;
}
.portfolio-nav__item {
  text-align: center;
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $main-color;
    border-radius: 10rem;
    z-index: -2;
  }
  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: darken($main-color, 15%);
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
  }
  &:hover {
    color: #fff;
    &:before {
      width: 100%;
    }
  }

  @include mx-(3px);
}
.portfolio-about {
  @extend .border;
}

.portfolio__links {
  @extend .flexRow;
}
.portfolio-links__about {
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding: 0.75rem 0.75rem;
  border-radius: 15rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  border: 0.1rem solid;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10rem;
    z-index: -2;
  }
  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: darken($main-color, 25%);
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
  }
  &:hover {
    color: #fff;
    &:before {
      width: 100%;
    }
  }

  @include mx-(3px);
}

// language switcher
.language-switcher {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.language-switcher-button {
  cursor: pointer;
  border: none;
  background-color: $main-color;
}
:disabled {
  background-color: $main-color;
  border: none;
}
.language-switcher-button__image {
  position: relative;
  width: 50px;
  height: 35px;
  @include mx-(3px);
}
.language-switcher-button__image--active {
  border: 1px solid;
}
.language-switcher-button__image--disabled {
  filter: grayscale(100%);
}
